.header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    padding: 0 60px;
    width: 100%;
    .auth {
      display: flex;
      justify-content: space-between;
      width: 210px;
    }
  }
}

@media screen and (max-width: 769px) {
  .header {
    .container {
      padding: 0 32px;
    }
    .auth {
    }
  }
}
@media screen and (max-width: 375px) {
  .header {
    .container {
      padding: 0 16px;
    }
    .auth {
    }
  }
}
